# Added by code-review-graph
.code-review-graph/

# Python
.venv/
__pycache__/

# Java / Maven
target/
*.class
*.jar
*.war

# Node
node_modules/
dist/
build/

# Gradle / Kotlin / Android
.gradle/
.kotlin/
local.properties
.cxx/
captures/

# OS
.DS_Store

# IDEs / Configs
.idea/
*.iml
.vscode/
